@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

body {
  overflow: scroll;
}

p {
  font-family: 'IBM Plex Mono', monospace;
}

svg {
    display: flex;
}

@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)  {
  body { width: 500vw; }
}



@media (min-width:801px)  { body { width: 700vw; } }
@media (min-width:1025px) { body { width: 1500vw; } }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media only screen  /*iPad Pro 10.5*/
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body { width: 1500vw; }
}

/* iPhone 6 */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body { width: 600vw; }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body { width: 300vw; }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body { width: 250vw; }
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.3333%;
}

.button {
  cursor: pointer;
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


.duck0-home {
  animation: duck_a 2s forwards;
}

@keyframes duck_a {
  50% { transform: translate(150px, -200px) }
  100% { transform: translate(-190px, -180px) }
}

.duck1-home {
  animation: duck_b 2s forwards;
}

@keyframes duck_b {
  50% { transform: translate(-100px, 120px) }
  100% { transform: translate(-180px, -129px) }
}

.duck2-home {
  animation: duck_c 2s forwards;
}

@keyframes duck_c {
  50% { transform: translate(0px, 150px) }
  100% { transform: translate(-320px, -240px) }
}

.anim {
  transition-duration: 5s;
}

.highlight-anim {
  animation: highlight 2s infinite alternate;
}

@keyframes highlight {
  0% {opacity: 0;}
  100% {opacity: 0.75;}
}

.clouds-move {
  animation: clouds 2s infinite alternate;
}

@keyframes clouds {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}
