@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

p {
  font-family: 'IBM Plex Mono', monospace;
}

body {
    overflow: hidden;
}

svg {
    display: flex;
}

#map {
    z-index: 9;
    overflow: hidden;
    position: absolute;
    left: -110vw;
    top: -60vw;
    width: 319vw;
    /*width: 100%;*/
    transform: scale(1.0);
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
}

.row::after {
  content: "";
  clear: both;
}

.segment {
    float: left;
    display: flex;
}

.button {
  cursor: pointer;
}

.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


.duck0-home {
  animation: duck_a 2s forwards;
}

@keyframes duck_a {
  50% { transform: translate(150px, -200px) }
  100% { transform: translate(-190px, -180px) }
}

.duck1-home {
  animation: duck_b 2s forwards;
}

@keyframes duck_b {
  50% { transform: translate(-100px, 120px) }
  100% { transform: translate(-180px, -129px) }
}

.duck2-home {
  animation: duck_c 2s forwards;
}

@keyframes duck_c {
  50% { transform: translate(0px, 150px) }
  100% { transform: translate(-320px, -240px) }
}

.anim {
  transition-duration: 5s;
}

